body{
 background-color: black;
 min-height: 100vh;
 display: flex;
    flex-direction: column;
}

header{
  background-color: orange;
  
}

main{
  background-color: black;
}

Footer{
  background-color: orange;
  height: 50px;
  margin-top: auto;
}

nav a{
  display:inline-block;
  color: blue;
  padding-left: 50px;
}

section{
  padding:6px;
  
}

h1{
  color: white;
}

button{
  background:#808080; 
  color:white;
  height:50px;
  font-size: 20px;
}

 header div{
  display:inline-block;
  vertical-align:middle;
  padding-left: 10px;
}

div section p{
  color: orange;
}

.logo{
  width: 80px;
  
}

.picBack{
  background-color: orange;
  display:inline-block; vertical-align:middle; padding: 10px;
}

.container{
  display: flex;
  
}

#fav{
  color: white;
  font-size: 25px;
  margin-top: 30px;
}
